<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title> User Table </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-table [dataSource]="userList" class="mat-elevation-z8">
        <ng-container matColumnDef="first_name">
          <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="total"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
        (page)="onPageSelect($event)">
    </mat-paginator>

</mat-expansion-panel>