/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-container {
    max-width: 1440px;
    margin: 10px 10px;
    height: 100%;
}

.fill-space {
    flex: 1 1 auto;
}


.form-container{
    margin: 10px 10px;
    border: 1px solid rgb(230, 230, 230);

    .form-header {
        background-color: rgb(231, 231, 231);
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 8px 20px;

        .form-title {
            font-size: medium;
            font-weight: 500;
        }

        .form-title-button {
            vertical-align: middle;
            
            .mat-icon {
                vertical-align: middle;
            }
        }
    }

    .form-body {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
}